
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body covers the full viewport height */
    margin: 0; /* Remove default margin */
}
button{
    width: 60px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor:pointer;
    transition: background-color 0.3s , transform 0.3s;
    
}
button:hover{
    background-color: rgb(84, 136, 226);
    transform: scale(1.5);
}

#notification{
    width: 300px;
    height: 300px;
    background-color: rgba(139, 69, 19, 0.5); /* burlywood with 50% opacity */
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    position: fixed;
    /* Center content inside the notification if needed */
    text-align: center;
    top: 30%;
    left: 40%;
   
    display: none;
   
}